@model LinkForge.Application.DTO.CreateLinkRequestDto

<h2>Create link</h2>

<form asp-action="Create" method="post">

    <div class="mb-3">

        <label class="form-label">URL</label>

        <input asp-for="Url"
               class="form-control" />

        <span asp-validation-for="Url"
              class="text-danger"></span>

    </div>

    <button class="btn btn-primary">
        Create
    </button>

</form>

<br/>

<a asp-action="Index" class="btn btn-secondary">
    Back
</a>