@model List<LinkForge.Application.DTO.ShortLinkDto>

<div class="card p-4">

    <div class="d-flex justify-content-between mb-3">

        <h4>Your links</h4>

        <a class="btn btn-primary" href="/Link/Create">
            + New Link
        </a>

    </div>

    <table class="table table-hover">

        <thead>
        <tr>
            <th>Original URL</th>
            <th>Short Link</th>
            <th>Clicks</th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        @foreach (var link in Model)
        {
            <tr>

                <td>@link.OriginalUrl</td>

                <td class="short-link">
                    @link.ShortCode
                </td>

                <td>@link.ClickCount</td>

                <td>
                    <span class="copy-btn"
                          onclick="copyLink('@link.ShortCode')">
                        Copy
                    </span>
                </td>

            </tr>
        }

        </tbody>

    </table>

</div>