<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <title>LinkForge</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>

</head>

<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/Link">🔗 LinkForge</a>
    </div>
</nav>

<div class="container mt-4">

    @RenderBody()

</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js"></script>

</body>
</html>